<ng-container>
    <mat-toolbar class="mat-elevation-z1 table-header">
        <div class="table-header-title">
            <h1>address</h1>
        </div>
        <span class="spacer"></span>
        <div class="table-header-actions">
            <button mat-button color="primary" (click)="openForm('create')">
                <mat-icon>add</mat-icon>
                Create New
            </button>
        </div>
    </mat-toolbar>
    <!-- table -->
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="No">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                No
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="id">
                {{ element.id }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Country
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="country">
                {{ element.country }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="City">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                City
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="city">
                {{ element.city }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Street">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Street
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="street">
                {{ element.street }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Website">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Website
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="website">
                {{ element.website }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Phone
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="phone">
                {{ element.phone }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Email
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="email">
                {{ element.email }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fax">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fax
            </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="fax">
                {{ element.fax }}
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
</ng-container>